<div class="globalHeader-container">
  <a href="app.component.html">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png?20150913213317" alt="NetBlog-LOGO" width="50" height="50"/>
  </a>
  <p>NetBlog</p>
  <p>&equiv;</p>
</div>
<div class="body">
  <div class="login-container">
    <h2>Login to comment my blog&excl;</h2>
    <input type="email" placeholder="email@domain.com" />
    <input type="password" placeholder="&bull;&bull;&bull;&bull;" />
    <button>Login</button>
  </div>
  <div class="noLogin-container"><h2>Continue as anonymous user &rarr;</h2></div>
</div>
<div class="globalFooter-container">
  <a href="app.component.html">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png?20150913213317" alt="NetBlog-LOGO" width="50" height="50"/>
  </a>
  <p>NetBlog &copy;</p>
</div>